<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="pgmTransport"
             type="PgmTransport.Configuration.PgmTransportElement, PgmTransport" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestApp.Service1Behavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="WorkService">
          <binaryMessageEncoding />
          <pgmTransport maxMessageSize="65536"
                        dataMode = "Message">
            <diagnostics enabled="true" interval="00:00:05" directory="C:\PgmLogs" />
          </pgmTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="TestApp.Service1Behavior"
               name="SimpleReceiver.WorkService">
        <endpoint address="net.pgm://227.0.1.2:5000/WorkService"
                  binding="customBinding"
                  contract="SimpleReceiver.IWorkService"
                  bindingConfiguration="WorkService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/TestApp/Service1/" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
  </system.serviceModel>
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\Temp\SdrConfigExample.svcLog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>
