<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="pgmTransport"
             type="PgmTransport.Configuration.PgmTransportElement, PgmTransport" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_INewsUpdate">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <pgmTransport maxMessageSize="65536"
                        dataMode = "Message">
            <diagnostics enabled="true" interval="00:00:05" directory="C:\PgmLogs" />
          </pgmTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.pgm://227.0.1.2:5002/NewsUpdateService"
          binding="customBinding" bindingConfiguration="CustomBinding_INewsUpdate"
          contract="INewsUpdate" name="CustomBinding_INewsUpdate">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>